---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center gap-x-6 gap-y-1 text-xl">
  {
    authors.map((author, index) => (
      <span>
        {author.url ? <a href={author.url}>{author.name}</a> : author.name}
        {author.notes && (
          <sup class="text-sm text-zinc-500">
            {author.notes.join(",")}
          </sup>
        )}
      </span>
    ))
  }
</div>
