---
import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center gap-x-4 text-base text-zinc-500">
  {
    notes.map((note) =>
      <span>
        <sup class="text-xs">{note.symbol}</sup>{note.text}
      </span>
    )
  }
</div>
